## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.cache
*.vs/
.vs/
*.DotSettings.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/
*.nupkg

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Logs
*.log

## SQL
*.bak
*.mdf
*.ldf

## Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json
.claude/
